---
import Header from "../components/Header.tsx";
import Footer from "../components/Footer.tsx";
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="bg-slate-50 scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="min-h-screen flex flex-col text-slate-700 font-sans antialiased overflow-x-hidden selection:bg-[#0077ff]/20 selection:text-[#003399]"
  >
    {
      /* EL HEADER DEBE SER client:load porque el usuario interactúa al instante */
    }
    <Header client:load />

    <div class="flex flex-col flex-1 pt-24 min-h-screen">
      <main
        class="flex-1 w-full px-4 md:px-8 lg:px-12 pb-12 transition-all duration-300 z-10"
      >
        <slot />
      </main>

      {/* OPTIMIZACIÓN CLAVE: client:visible */}
      {
        /* El JS pesado de Framer Motion del Footer NO se cargará hasta llegar abajo */
      }
      <Footer client:visible />
    </div>
  </body>
</html>
